// GRAY
$color--gray-bc: #BDBDBD;
$color--gray-text: #A3A3A3;
$color--gray-user-card-small: #F3F3F3;
$color--gray-input-border: #D8D8D8;

// BLUE
$color--blue: #4B51EF;

// WHITE
$color--white: #FFFFFF;

// GREEN
$color--green: #52CF4F;
