@import '../../../styles/variables/all.scss';

.sorting-wrapper {
  position: absolute;
  padding-top: 35px;
  padding-left: 20px;

  width: 152px;
  height: 100vh;

  box-sizing: border-box;

  background-color: $color--gray-bc;

  @include text-roboto-12;

  .button-primary__button {
    margin: 10px 0;
  }
}